* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  color: white;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
